<header class="nxs-header">
  <div class="nxs-header__logo-wrapper">
    <div class="nxs-header__icon-container">
      <mat-icon (click)="toHome()">electric_bolt</mat-icon>
    </div>
    <h1 (click)="toHome()" class="nxs-header__logo-text">NEXUS</h1>
  </div>

  <div class="nxs-header__search-wrapper">
    <mat-icon class="nxs-header__search-icon">search</mat-icon>
    <mat-form-field appearance="fill" class="nexus-search-form-field">
      <mat-label>Шукати девайси</mat-label>
      <input
        class="nxs-header__search"
        matInput
      />
    </mat-form-field>
    <div class="nxs-header__search-bg"></div>
  </div>

  <div class="nxs-header__cart">
    <button (click)="toCart()" mat-icon-button class="nxs-header__cart-button">
      <mat-icon>shopping_cart</mat-icon>
      @if (cartCount) {
        <span class="nxs-header__cart-count">
          {{ cartCount }}
        </span>
      }
    </button>
  </div>
</header>
