<header class="nxs-header gap-16">
  <div class="nxs-header__logo-wrapper flex gap-12">
    <div class="nxs-header__icon-container">
      <img (click)="toHome()" class="nxs-header__logo" src="assets/images/logo.png" alt="logo" />
    </div>
    <h1 (click)="toHome()" class="nxs-header__logo-text f-s-20">NEXUS</h1>
  </div>

  <div class="transparent-bg nxs-header__search-wrapper flex pl-12">
    <mat-icon class="nxs-header__search-icon">search</mat-icon>
    <mat-form-field appearance="fill" class="nexus-search-form-field">
      <mat-label>Шукати девайси</mat-label>
      <input
        class="nxs-header__search"
        matInput
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange($event)"
      />
    </mat-form-field>
    <div class="nxs-header__search-bg"></div>
  </div>

  <div class="nxs-header__cart flex">
    <button (click)="toCart()" mat-icon-button class="nxs-header__cart-button">
      <mat-icon>shopping_cart</mat-icon>
      @if (cartCount() > 0) {
        <span class="nxs-header__cart-count">
          {{ cartCount() }}
        </span>
      }
    </button>
  </div>
</header>
