html {
  --mat-form-field-hover-state-layer-opacity: 0;
}

mat-form-field {
  &.nxs-search-form-field {
    width: 100%;
    .mat-mdc-form-field-infix {
      width: 100%;
      display: flex;
    }

    .mat-mdc-text-field-wrapper {
      background: transparent;
      transition: all 0.3s;
      border: none;
      border-radius: 1rem;
    }

    .mat-mdc-input-element {
      appearance: none;
      background-color: transparent;
      background-image: none;
      color: var(--text-color-primary);
      -webkit-text-fill-color: var(--text-color-primary);
    }

    &.mat-focused {
      .mat-icon {
        color: var(--cart-icon-hover-color);
        transition: outline 0.4s ease;
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mdc-line-ripple {
      display: none;
    }
  }
}
