.cart-page {
  padding: 2rem;

  &__title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__content {
    display: flex;
    gap: 2rem;
  }

  &__items {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__summary {
    flex: 1;

    mat-card {
      padding: 1.5rem;

      h2 {
        margin: 0 0 1rem 0;
      }

      .summary__price {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      .summary__checkout {
        width: 100%;
      }
    }
  }

  &__empty {
    margin-top: 2rem;
    font-size: 1.3rem;
    opacity: 0.7;
  }
}

.cart-item {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  align-items: flex-start;

  &__image {
    width: 130px;
    height: 130px;
    border-radius: 6px;
    object-fit: cover;
  }

  &__info {
    flex: 1;
  }

  &__price-block {
    margin: 0.7rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__price {
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__rating {
    font-size: 1rem;
  }
}
