<div class="cart-page">
  <div class="cart-page__title-wrapper flex gap-16">
    <button
      mat-icon-button
      class="cart-page__back-btn"
      (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="cart-page__title mb-16">Ваш кошик</h1>
  </div>

  @if (items().length) {
    <div class="cart-page__cart-wrapper">
      <div class="cart-page__content">
        <div class="cart-page__cart-list">
          @for (item of items(); track item.product.id) {
            <mat-card animate.leave="cart-item-leave"  class="nexus-card cart-page__product">
              <div class="card-glow"></div>

              <div class="cart-page__image-wrap">
                <img
                  class="cart-page__image"
                  [src]="item.product.imageUrl"
                  [alt]="item.product.name"
                  [style.view-transition-name]="'product-image-' + item.product.id"
                />
                <div class="cart-page__product-name">
                  <h2>{{ item.product.name }}</h2>
                  <p>{{ item.product.category }}</p>
                  <p>{{ item.product.brand }}</p>
                </div>
              </div>

              <div class="cart-page__action-block">
                <nxs-quantity-input
                  [quantity]="item.quantity"
                  (increase)="increaseQuantity(item.product.id)"
                  (decrease)="decreaseQuantity(item.product.id)"
                  (remove)="removeFromCart(item.product.id)"
                  (change)="updateQuantity(item.product.id, $event)"
                  [showDeleteLastItem]="false"
                />

                <div class="cart-page__price-block">
                  <span class="cart-page__price">
                    {{ item.totalPrice | currency: 'UAH' : 'symbol-narrow' }}
                  </span>
                  <button
                    mat-flat-button
                    class="nexus-button"
                    color="warn"
                    (click)="removeFromCart(item.product.id)">
                    Видалити
                  </button>
                </div>
              </div>
            </mat-card>
          }
        </div>

        <div class="cart-page__summary">
          <mat-card class="nexus-card cart-page__summary-card">
            <h2>Разом</h2>
            <p class="cart-page__summary-price">
              {{ totalPrice() | currency: 'UAH' : 'symbol-narrow' }}
            </p>
            <button
              mat-flat-button
              color="primary"
              class="nexus-button cart-page__summary-checkout"
              (click)="checkout()">
              Оформити замовлення
            </button>
          </mat-card>
        </div>
      </div>
    </div>
  } @else {
    <nxs-no-data [type]="emptyStateType.EMPTY_CART"></nxs-no-data>
  }
</div>
