.cart-page {
  margin: 80px 12px 12px 12px;
  padding: 2rem;

  &__title {
    margin-bottom: 24px;
  }

  &__content {
    display: flex;
    gap: 2rem;
  }

  &__items {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__summary {
    flex: 1;

    mat-card {
      padding: 1.5rem;

      h2 {
        margin: 0 0 1rem 0;
      }

      .summary__price {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      .summary__checkout {
        width: 100%;
      }
    }
  }

  &__empty {
    margin-top: 2rem;
    font-size: 1.3rem;
    opacity: 0.7;
  }
}

.cart-item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-start;

  &__image-wrap {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
  }

  &__image {
    height: 100%;
    width: 120px;
    object-fit: cover;
    transition: transform .45s ease;
    display: block;
    background: transparent;

    &--hover {
      transform: scale(1.06) rotate(0.5deg);
      backface-visibility: hidden;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
  }

  &__price-block {
    margin: 0.7rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__price {
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__rating {
    font-size: 1rem;
  }
}

.item-name {
  gap: 4px;
}
