.cart-page {
  &__cart-wrapper {
    margin: 24px 150px;
  }

  &__cart-list {
    flex: 2;
    overflow: hidden;
  }

  &__product {
    flex-direction: row;
    align-items: flex-start;

    &:hover .card-glow {
      opacity: 1;
    }
  }

  &__image-wrap {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
  }

  &__image {
    height: 100%;
    width: 120px;
    object-fit: cover;
    transition: transform .45s ease;
    display: block;
    background: transparent;
  }

  &__product-info {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
  }

  &__action-block {
    flex-direction: row;
    align-items: center;
  }

  &__quantity-input {
    align-items: center;
  }

  &__price-block {
    align-items: center;
  }

  &__price {
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__summary {
    flex: 1;
  }

  &__summary-price {
     font-weight: bold;
  }
}
