<mat-expansion-panel class="filter-panel__expansion-panel" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ filter.label }}</mat-panel-title>
  </mat-expansion-panel-header>

  <div class="filter-panel__section-content">
    @switch (filter.type) {
      @case ('checkbox') {
        @for (opt of filter.options; track opt.value) {
          <mat-checkbox
            [checked]="isChecked(opt.value.toString())"
            (change)="onCheckbox(opt.value.toString(), $event.checked)">
            {{ opt.label }}
          </mat-checkbox>
        }
      }

      @case ('radio') {
        <mat-radio-group
          [value]="getValue()"
          (change)="onRadio($event.value)">
          @for (opt of filter.options; track opt.value) {
            <mat-radio-button [value]="opt.value">
              {{ opt.label }}
            </mat-radio-button>
          }
        </mat-radio-group>
      }

      @case ('range') {
        <div [formGroup]="rangeGroup">
          <mat-form-field appearance="outline">
            <input matInput type="number" placeholder="Від" formControlName="min" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput type="number" placeholder="До" formControlName="max" />
          </mat-form-field>
        </div>
      }

      @case ('boolean') {
        <mat-checkbox
          [checked]="getValue()"
          (change)="onBoolean($event.checked)">
          {{ filter.label }}
        </mat-checkbox>
      }
    }
  </div>
</mat-expansion-panel>
<mat-divider></mat-divider>
