<header class="header">
  <div class="header__container">
    <div (click)="toHome()" class="header__logo">TechStore</div>

    <div class="header__search">
      <mat-icon class="header__search-icon">search</mat-icon>
      <input
        type="text"
        placeholder="Search products..."
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
      />
      <button mat-icon-button (click)="onSearch()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <button mat-flat-button class="header__cart-btn" (click)="toCart()">
      <mat-icon>shopping_cart</mat-icon>
      <span>Cart</span>
    </button>
  </div>
</header>
