:root {
  --background-body-color: #09090b;

  --text-color-primary: #fafafa;

  --header-bg-start: rgba(0, 0, 0, 0.6);
  --header-bg-middle: rgba(15, 23, 42, 0.4);
  --header-bg-end: rgba(0, 0, 0, 0.6);

  --logo-glow-color: #06b6d4;
  --logo-gradient-start: #06b6d4;
  --logo-gradient-middle: #a78bfa;
  --logo-gradient-end: #ec4899;

  --search-bg-gradient-start: rgba(6, 182, 212, 0);
  --search-bg-gradient-middle: rgba(167, 139, 250, 0);
  --search-bg-gradient-end: rgba(236, 72, 153, 0);
  --search-bg-gradient-focus-start: rgba(6, 182, 212, 0.1);
  --search-bg-gradient-focus-middle: rgba(167, 139, 250, 0.1);
  --search-bg-gradient-focus-end: rgba(236, 72, 153, 0.1);

  --cart-icon-color: rgba(255, 255, 255, 0.6);
  --cart-icon-hover-color: #06b6d4;
  --cart-count-gradient-start: #ec4899;
  --cart-count-gradient-end: #a78bfa;

  --placeholder-color: rgba(255, 255, 255, 0.4);
}


//     &::placeholder {
//       color: rgba(255, 255, 255, 0.4); /* placeholder-white/40 */
//     }
//
//     &:focus {
//       outline: none;
//       border-color: rgba(34, 211, 238, 0.5); /* cyan-400/50 */
//       background: rgba(255, 255, 255, 0.1); /* bg-white/10 */
//     }
//   }
//.searchbar-wrapper:focus-within .searchbar-glow {
//  background: linear-gradient(to right,
//    rgba(34, 211, 238, 0.1) 0%,    /* cyan-400/10 */
//    rgba(192, 132, 252, 0.1) 50%,  /* purple-400/10 */
//    rgba(244, 114, 182, 0.1) 100%  /* pink-400/10 */
//  );
//}
