:root {
  --background-body: var(--gray-950);
  --background-gradient-0: var(--bg-gradient-start);
  --background-gradient-100: var(--bg-gradient-end);

  --text-primary: var(--gray-50);
  --text-secondary: var(--gray-400);
  --text-placeholder: var(--white-40);

  --header-bg-start: var(--black-60);
  --header-bg-middle: var(--bg-slate);
  --header-bg-end: var(--black-60);
  --header-height: 82px;
  --header-border: var(--white-30);

  --logo-glow: var(--cyan);
  --logo-gradient-start: var(--cyan);
  --logo-gradient-middle: var(--purple);
  --logo-gradient-end: var(--pink);

  --search-bg-start: var(--cyan-0);
  --search-bg-middle: var(--purple-0);
  --search-bg-end: var(--pink-0);
  --search-bg-focus-start: var(--cyan-10);
  --search-bg-focus-middle: var(--purple-10);
  --search-bg-focus-end: var(--pink-10);

  --cart-icon: var(--white-60);
  --cart-icon-hover: var(--cyan);
  --cart-count-gradient-start: var(--pink);
  --cart-count-gradient-end: var(--purple);

  --card-bg: var(--white-5);
  --card-border: var(--white-10);
  --counter-input-border: var(--white-20);

  --product-bg: var(--gray-900);
  --product-rating-bg: var(--black-40);
  --product-shadow: var(--shadow-medium);
  --product-empty-stock-bg: var(--black-60);
  --product-empty-stock-inner-bg: var(--white-6);

  --price-old: var(--gray-400);
  --price-old-light: var(--white-50);
  --price-new: var(--success);
  --price-discount: var(--pink);

  --badge-base-bg: var(--black-28);
  --badge-new-bg: var(--info);
  --badge-sale-bg: var(--pink);
  --badge-stock-bg: var(--success);

  --btn-primary: var(--info);
  --btn-primary-hover: var(--info-dark);

  --status-success: var(--success);

  --status-danger: var(--danger);
  --status-info: var(--info);
  --status-in-stock: var(--success-dark);
  --status-out-stock: var(--danger-dark);
  --rating: var(--warning);

  --glow-cyan: var(--cyan-light);
  --glow-cyan-weak: var(--cyan-12);
  --glow-cyan-middle: var(--cyan-30);

  --glow-purple: var(--purple-dark);
  --glow-purple-weak: var(--purple-12);
  --glow-purple-middle: var(--purple-30);

  --glow-pink: var(--pink-light);
  --glow-pink-weak: var(--pink-12);
  --glow-pink-middle: var(--pink-30);

  --accent-cyan: var(--cyan-light);
  --accent-purple: var(--purple-dark);
  --accent-pink: var(--pink-light);

  --circle-bg-cyan: var(--circle-cyan);
  --circle-bg-purple: var(--circle-purple);
  --circle-bg-pink: var(--circle-pink);

  --skeleton-element-bg: var(--white-8);
  --skeleton-wave-bg: var(--white-12);

  --shadow-soft: var(--shadow-soft);
  --shadow-strong: var(--shadow-strong);
}
