.product-list {
  margin: 64px 12px 12px 12px;

  &__content{
    display: flex;
    gap: 24px;
  }

  &__filters {
    flex: 1;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
