.product-list {
  margin: 100px 12px 12px 12px;

  &__content{
    display: flex;
    gap: 16px;
  }

  &__filters {
    flex: 1;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
