.product-list {
  &__content{
    margin: 16px 12px 12px 12px;
    display: flex;
    gap: 8px;
  }

  &__filters {
    flex: 1;
    margin-left: 8px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
