.product-list {
  &__filter-toggle {
    width: 100%;
    margin: 12px;
  }

  &__container {
    min-height: calc(100vh - var(--header-height) - 32px);
    width: 100%;
    margin: 16px 12px;

    @media (max-width: 970px) {
      margin: 0;
      min-height: 100vh;
    }
  }

  &__sidenav {
    width: 260px;

    @media (max-width: 970px) {
      width: 100%;
    }
  }

  &__list {
    flex-wrap: wrap;
    padding: 16px;

    @media (max-width: 970px) {
      padding: 8px;
    }
  }
}
