body {
  margin: 0;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000; /* якщо хочеш чорний фон для всього сайту */
  color: #8FF100; /* Pip-Boy green текст за замовчуванням */
}
