.empty-state {
  align-items: center;
  justify-content: center;
  text-align: center;

  &__image-wrapper {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 320px;
  }

  &__image {
    object-fit: contain;
    user-select: none;
    pointer-events: none;
  }

  &__text {
    background: linear-gradient(
        to right,
        var(--glow-cyan),
        var(--glow-purple)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
