.empty-state {
  align-items: center;
  justify-content: center;
  text-align: center;

  &__image {
    height: 320px;
    max-width: 100%;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
  }

  &__text {
    background: linear-gradient(
        to right,
        var(--logo-gradient-start),
        var(--logo-gradient-middle)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
