<mat-card class="skeleton-card">
  <div class="skeleton-card__image-wrap">
    <div class="skeleton-element skeleton-element--img"></div>
  </div>

  <mat-card-content class="skeleton-card__body">
    <div class="skeleton-element skeleton-element--title"></div>
    <div class="skeleton-element skeleton-element--subtitle"></div>

    <div class="skeleton-card__footer">
      <div class="skeleton-element skeleton-element--price"></div>
      <div class="skeleton-element skeleton-element--icon"></div>
    </div>
  </mat-card-content>

  <div class="skeleton-wave"></div>
</mat-card>
