<mat-card class="filter-skeleton">
  <div class="filter-skeleton__header">
    <div class="skeleton-element skeleton-element--title"></div>
    <div class="skeleton-element skeleton-element--button"></div>
  </div>

  <div class="filter-skeleton__results">
    <div class="skeleton-element skeleton-element--results"></div>
  </div>

  @for (item of filterGroups; track item) {
    <mat-expansion-panel class="filter-skeleton__panel" [expanded]="true" [disabled]="true">
      <mat-expansion-panel-header>
        <div class="skeleton-element skeleton-element--filter-title"></div>
      </mat-expansion-panel-header>

      <div class="filter-skeleton__content">
        @for (option of item.options; track option) {
          <div class="skeleton-element skeleton-element--option"></div>
        }
      </div>
    </mat-expansion-panel>
    <mat-divider />
  }

  <div class="skeleton-wave"></div>
</mat-card>
