.product-details {
  justify-content: center;

  &__card {
    max-width: 1100px;
    width: 100%;
    padding: 24px;
  }

  &__header {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__image {
    width: 440px;
    height: 440px;

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    flex: 1;
  }

  &__rating {
    align-items: center;
    color: var(--rating);
  }

  &__stock {
    font-weight: 500;
    color: var(--status-in-stock);

    &-out {
      color: var(--status-out-stock);
    }
  }

  &__price-actions {
    align-items: center;
    flex-wrap: wrap;
  }

  .product-details__old-price {
    color: var(--text-secondary);
    text-decoration: line-through;
  }

  .product-details__price {
    font-weight: bold;
    color: var(--text-primary);
  }
}
