.filter-panel {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    background: linear-gradient(90deg,
        var(--logo-gradient-start),
        var(--logo-gradient-middle),
        var(--logo-gradient-end));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 18px;
  }
}
