.filters {
  width: 100%;
  max-width: 300px;

  &__card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__field {
    width: 100%;
  }

  &__price {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &__price-value {
    font-weight: bold;
  }
}
