<mat-card class="filter-panel">
  <div class="filter-panel__header">
    <h2 class="filter-panel__title">Фільтри</h2>
<!--    @if (activeFiltersCount() > 0) {-->
<!--      <button mat-button color="warn" (click)="clearFilters()">-->
<!--        Очистити ({{ activeFiltersCount() }})-->
<!--      </button>-->
<!--    }-->
  </div>

  <div class="filter-panel__sections">
    <mat-accordion class="filter-panel__accordion" multi>
      <mat-expansion-panel expanded class="filter-panel__expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Категорії</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-panel__section-content">
          @for (category of filters.categories; track category) {
            <mat-checkbox>
              {{ category}}
            </mat-checkbox>
          }
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded class="filter-panel__expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Бренд</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-panel__section-content">
          @for (brand of filters.brands; track brand) {
            <mat-checkbox>
              {{ brand }}
            </mat-checkbox>
          }
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded class="filter-panel__expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Ціна</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-panel__section-content">
          <div class="filter-panel__price-inputs">
            <form>
              <mat-form-field>
                <input matInput type="numbers">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="numbers">
              </mat-form-field>
            </form>
          </div>

          <mat-slider min="{{ filters.priceRange[0] }}" max="{{ filters.priceRange[1] }}">
            <input matSliderStartThumb>
            <input matSliderEndThumb>
          </mat-slider>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded class="filter-panel__expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Рейтинг</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="filter-panel__radio-group">
          @for (rating of [5, 4, 3, 2, 1, 0]; track rating) {
            <mat-radio-button class="filter-panel__radio-button" [value]="rating">{{rating}}</mat-radio-button>
          }
        </mat-radio-group>
      </mat-expansion-panel>

    </mat-accordion>
    <div class="filter-panel__section">
      <mat-checkbox [(ngModel)]="filters.inStock" class="filter-panel__checkbox">
        Тільки в наявності
      </mat-checkbox>
    </div>
  </div>
</mat-card>
