<div class="quantity-input" [class.quantity-input--compact]="compact()">
  <button
    class="nexus-icon-button"
    mat-icon-button
    color="primary"
    (click)="onDecrease()"
    [disabled]="isDecreaseDisabled">
    <mat-icon>{{ decreaseIcon }}</mat-icon>
  </button>

  @if (!compact()) {
    <mat-form-field appearance="fill" class="nexus-counter-input">
      <input
        matInput
        type="number"
        [value]="inputValue()"
        (input)="onInputChange($event)"
        (keydown)="onKeyDown($event)"
        [min]="min()"
        min="1"
      />
    </mat-form-field>
  } @else {
    <span class="quantity-input__value">{{ quantity() }}</span>
  }

  <button
    class="nexus-icon-button"
    mat-icon-button
    color="primary"
    (click)="onIncrease()">
    <mat-icon>add</mat-icon>
  </button>
</div>
