<mat-card
  class="nexus-card product-card"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  <div class="card-glow"></div>

  <mat-card-header class="flex w-100 product-card__header">
    <div class="product-card__badges gap-8">
      <!-- Badges placeholder -->
    </div>
    <div class="flex product-card__rating gap-6 f-s-18">
      <mat-icon>star</mat-icon>
      <span>{{ product.rating }}</span>
    </div>
  </mat-card-header>

  <mat-card-content class="product-card__content p-0">
    <div class="product-card__image-wrap">
      <img
        class="product-card__image"
        (click)="navigateToDetails()"
        [src]="product.imageUrl"
        [alt]="product.name"
        [class.product-card__image--hover]="isHovered()"
      />

      @if (product.inStock) {
        <div
          class="product-card__quick-buy-wrapper"
          [class.product-card__quick-buy-wrapper-visible]="isHovered()">
          <button
            mat-flat-button
            color="primary"
            class="product-card__quick-buy-btn gap-4"
            (click)="handleAdd()">
            <mat-icon>shopping_cart</mat-icon>
            Додати в кошик
          </button>
        </div>
      } @else {
        <div class="product-card__empty-stock">
          <div class="product-card__empty-stock-inner">Немає в наявності</div>
        </div>
      }
    </div>

    <div class="product-card__meta">
      <h3
        (click)="navigateToDetails()"
        class="product-card__title"
        [class.product-card__title--hover]="isHovered()">
        {{ product.name }}
      </h3>
      <p class="product-card__brand mb-12 f-s-12">{{ product.category }}</p>

      <div class="product-card__controls">
        <div class="flex product-card__prices gap-8">
          <span class="product-card__price f-s-16">{{ product.price | currency: 'UAH' : 'symbol-narrow' }}</span>
        </div>

        <button
          mat-icon-button
          aria-label="Add to cart"
          (click)="handleAdd()"
          [disabled]="!product.inStock"
          class="product-card__cart-btn">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
