<mat-card
  class="nexus-card product-card"
  (mouseenter)="isHovered.set(true)"
  (mouseleave)="isHovered.set(false)"
>
  <div class="card-glow"></div>
  <mat-card-header class="flex w-100 product-card__header">
    <div class="product-card__badges gap-8">
      @if (isNew) {
        <div class="product-card__badge product-card__badge-new">
          <mat-icon>auto_awesome</mat-icon>
          <span>NEW</span>
        </div>
      }
      @if (product.discount) {
        <div class=" product-card__badge product-card__badge-discount">
          <mat-icon>bolt</mat-icon>
          <span>-{{ product.discount }}%</span>
        </div>
      }
    </div>
    <div class="flex product-card__rating gap-6 f-s-18">
      <mat-icon>star</mat-icon>
      <span>{{ product.rating }}</span>
    </div>
  </mat-card-header>

  <mat-card-content class="product-card__content p-0">
    <div class="product-card__image-wrap">
      <img
        class="product-card__image"
        (click)="navigateToDetails()"
        [src]="product.imageUrl"
        [alt]="product.name"
        [class.product-card__image--hover]="isHovered()"
      />

      @if (product.stock) {
        <div
          class="product-card__quick-buy-wrapper"
          [class.product-card__quick-buy-wrapper-visible]="isHovered()"
        >
          <button
            mat-flat-button
            color="primary"
            class="product-card__quick-buy-btn gap-4"
            (click)="handleAdd()"
            [disabled]="!product.stock"
          >
            <mat-icon>shopping_cart</mat-icon>
            Додати в кошик
          </button>
        </div>
      }

      @if (!product.stock) {
        <div class="product-card__empty-stock">
          <div class="product-card__empty-stock-inner">Немає в наявності</div>
        </div>
      }
    </div>

    <div class="product-card__meta">
      <h3 (click)="navigateToDetails()" class="product-card__title" [class.product-card__title--hover]="isHovered()">
        {{ product.name }}
      </h3>
      <p class="product-card__brand mb-12 f-s-12">{{ product.category }}</p>

      <div class="product-card__controls">
        <div class="flex product-card__prices gap-8">
          @if (product.discount) {
            <span class="product-card__price-old f-s-14">{{ product.price | currency }}</span>
            <span class="product-card__price-new f-s-16">{{ product.discount | currency }}</span>
          } @else {
            <span class="product-card__price f-s-16">{{ product.price | currency }}</span>
          }
        </div>

        <button
          mat-icon-button
          aria-label="Add to cart"
          (click)="handleAdd()"
          [disabled]="!product.stock"
          class="product-card__cart-btn"
        >
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
